<!DOCTYPE html>
<html>
<head>
  <title>pragprog Books Online Store</title>
  <%= stylesheet_link_tag "scaffold"%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
 <div id= "banner">
 	<%=image_tag("logo.png")%>
 	<%=@page_title || "Progmatic Bookshelf"%>
 </div>
 <div id="columns">
 	<div id="side">
 	<div id=cart>
 		<%=render @cart%>
 	</div>
 	<button id="test" onclick="ajax()" value="22">ajax3</button>
 	<br/>
 		<a href="http://fanyi.baidu.com/">百度翻译</a>
 		</br>
 		<a href="products">图书列表</a>
 	</div>
	<div id="main">
	    <%= yield %>	
	</div>
 </div>
 <script type="text/javascript">
 	function ajax(){
 		// alert("aa")
 		$.post("line_items/get_num",{data:"data"},function(tt){
            alert(tt.data) 
 		});
 	}
 </script>
</body>
</html>
