<h2>你选购的东西</h2>
<!-- <ul>
	<%@cart.line_items.each do |item|%>
	  <li><%=item.quantity%>&times;<%=item.product.title%></li>
	<% end %>
</ul> -->

<table>
	<% @cart.line_items.each do |item|%>
	<tr>
		<td><%=item.quantity%></td>
		<td><%=item.product.title%></td>
		<td class="item_price"><%=number_to_currency(item.total_price)%></td>
	</tr>
	<% end %>
	<tr class="total_line">
		<td colspan="2">总计</td>
		<td class="total_cell"><%=number_to_currency(@cart.total_price)%></td>
	</tr>
</table>
<%=button_to '清空',@cart,:method => :delete,:confirm=>'确定清空吗'%>
